#content {
    display: grid;
    grid-template-columns: 1fr 600px 400px 1fr;
    grid-template-rows: 150px auto 1fr;
}

#left {
    grid-area: 2/2;
    display: grid;
    grid-template-columns: 175px 1fr;
    grid-template-rows: 100px 100px 100px 1fr;
}

#right {
    grid-area: 2/3;
}

#genrelabel {
    grid-area: 1/1;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#playlistlabel {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#select_genre {
    margin-top: 2em;
    margin-bottom: 2em;
}

#select_playlist {
    margin-top: 2em;
    margin-bottom: 2em;
}

#btn_submit {
    grid-area: 3/1/3/3;
}

#btn_submit {
    margin-top: 2em;
    margin-bottom: 2em;
}